.main-table {
  width: 100%;
  min-width: 1100px;
  overflow-x: auto;
  border-collapse: separate;
}
.main-table th {
  width:10%;
}

.main-table th,
.main-table td{
  padding: 3px;
  border: 1px solid #000;
}


.second-table {
  width: 100%;
  min-height: 500px;
}

.third-table {
  width: 100%;
  min-height: 500px;
  text-align: center;
}
.third-table th{
  width: 20%;
}



.container span {
  margin-right: 15px;
}
.container {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px;
}
.container2 {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;
}

