body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c4c4c4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 350px;
  padding: 20px;
}

.login-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.action-group{
  display: flex; /* 將子項目水平排列 */
  gap: 110px; /* 設定按鈕間的間距 */
}

.action-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.action-button:hover {
  background-color: #45a049;
}

.register-label {
  width: 100px; /* 固定寬度 */
  text-align: left;
  margin-left:5px;
  margin-right: 10px;
}

/* Catalog */
.catalog-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.search-section {
  display: flex;
  align-items: center;
}

.record-input {
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0056b3;
}

/* 行動按鈕排布 */
.action-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}




/* 近期操作表格 */
.actions-table {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f9;
  font-weight: bold;
  color: #333;
}

tr:hover {
  background-color: #f1f1f1;
}




.containe {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.label {
  min-width: 100px; 
}

.input-field {
  flex: 1; 
}

.toggle-password-btn {
  margin-left: 10px; 
}

